/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0f172a;
    color: white;
}

header h1 {
    font-size: 24px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* MAIN */
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    background-color: #f1f5f9;
}

/* TEXTO */
.text {
    max-width: 500px;
}

.text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.text p {
    font-size: 18px;
    color: #334155;
}

/* IMAGEM */
.image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}